{% extends 'inheritance.html' %}
{% block content %}


<body style="color:white">
</br>
    <center>
    </br>
    <h3 class="p"> CHANGE TASK </h3>
    </br>
    </br>
    </br>
        <div class="item-row">
            <form method="POST" action="">
            {% csrf_token %}
             </br>
                <div> {{ form.label }}</div>
                <div> {{ form.done }} </div>
            </br>
                <input type="submit" value="UPDATE" class="btn submit2" style="color:black">
            </form>
            </br>
            </br>
        </div>
  </center>
</body>

{% endblock %}